<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="DCWeb">
      <section name="HttpCompress" type="DC.Web.HttpCompress.Configuration, DC.Web.HttpCompress" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TerraficPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <DCWeb>
    <HttpCompress compressionType="GZip">
      <IncludedMimeTypes>
        <add mime="text/html" />
      </IncludedMimeTypes>
    </HttpCompress>
  </DCWeb>
  <system.webServer>
    <handlers>
      <!--     <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
   -->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpRuntime />
    <pages theme="Theme1" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Stimulsoft.Report.Web, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Stimulsoft.Report, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Stimulsoft.Base, Version=2015.1.0.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authorization>
      <allow roles="public" />
      <deny users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/New/News.aspx" timeout="540" />
    </authentication>
    <sessionState mode="InProc" timeout="540" cookieless="false" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <location path="Organ/AfterPurches.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="new/AfterPurches.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Organ/RegPerson.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="New/Daily.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
   <location path="Report/RepAfetrPamant.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  <location path="New/Yearly.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Organ/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="report/Mspsoft.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="loginMmain.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Public/RegPerson.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="FolderPath" value="~/Upload" />
    <add key="SafhePardakhtPage" value="https://sep.shaparak.ir/Payment.aspx" />
    <add key="ReturnAddress" value="http://localhost:2118/AfterPurches.aspx" />
    <add key="ReturnAddressNew" value="http://localhost:2118/New/AfterPurches.aspx" />
    <add key="ReturnAddressOrgan" value="http://localhost:2118/Organ/AfterPurches.aspx" />
    <add key="EpayUserName" value="" />
    <add key="EpayPassWord" value="9782538" />
    <add key="ReportServer" value="http://192.168.200.25/Reports" />
    <add key="ReportUser" value="mmaarefi" />
    <add key="ReportUserPass" value="m!@#811020" />
    <add key="Domain" value="Qom" />
    <add key="TerraficPlan_Mojaz2_Service1" value="http://80.75.8.195/traffic_service/Service1.asmx" />
    <add key="TerraficPlan_WSmojaz_Service1" value="http://80.75.8.195/traffic_service/Service1.asmx" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentIFBindingSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentIFBindingSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://acquirer.samanepay.com/payments/referencepayment.asmx" binding="basicHttpBinding" bindingConfiguration="PaymentIFBindingSoap" contract="ServiceReference1.PaymentIFBindingSoap" name="PaymentIFBindingSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <TerraficPlan.Properties.Settings>
      <setting name="TerraficPlan_TerraficSms_Send" serializeAs="String">
        <value>http://87.107.121.54/post/Send.asmx</value>
      </setting>
      <setting name="TerraficPlan_com_samanepay_acquirer_PaymentIFBinding" serializeAs="String">
        <value>https://acquirer.samanepay.com/payments/referencepayment.asmx</value>
      </setting>
      <setting name="TerraficPlan_WSmojaz_Service1" serializeAs="String">
        <value>http://80.75.8.195/traffic_service/Service1.asmx</value>
      </setting>
      <setting name="TerraficPlan_WebReference_Send" serializeAs="String">
        <value>http://87.107.121.52/post/send.asmx</value>
      </setting>
      <setting name="TerraficPlan_Mojaz2_Service1" serializeAs="String">
        <value>http://80.75.8.195/traffic_service/Service1.asmx</value>
      </setting>
    </TerraficPlan.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add connectionString="Server=192.168.200.25;Database=TrafficPlanNew;User ID=weblogin;Password=123456" name="TerraficCnn" />-->
    <add connectionString="Data Source=.;Initial Catalog=TrafficPlanNew;Integrated Security=True" name="TerraficCnn" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>