@font-face {
  font-family: 'FarMitraBold';
  src: url('FarMitraBold.woff') format('woff'),
       url('FarMitraBold.ttf') format('truetype'),
       url('FarMitraBold.svg#FarMitraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Far_MitraBd';
  src: url('Far_MitraBd.eot');
  src: url('Far_MitraBd.eot?#iefix') format('embedded-opentype'),
       url('Far_MitraBd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

